@import "../../styles/breakpoints.scss";
@import "../../styles/shadows.scss";

.farm-container {
  display: block;
  position: relative;
  z-index: 10;
  max-width: 1000px;
  min-height: calc(100vh - 75px);
  margin: 0 auto;
  @include lg {
    min-height: calc(100vh - 125px);
  }
  & .farm-title {
    display: block;
    position: relative;
    & .title-text {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      color: white;
      letter-spacing: 1px;
      @include lg {
        font-size: 32px;
        margin: 50px 0 25px 0;
      }
    }
  }
  & .farm-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    margin: 10px 0;
    & span {
      font-weight: 300;
      opacity: 0.75;
    }
  }
}

button {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  pointer-events: none;
  cursor: default;
}
